@model Testweb2.Models.pro2

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>pro2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
